body {
    min-height: 75rem;
}

#notifications{
    display: none;
}

.btn {
    margin-top: 0px;
}

main>.container {    
    padding: 60px 15px 0;
}

#main-header {
    margin-bottom: 100px;
}
// remove id img-circle
// .img-circle {
//     border-radius: 50%;
// }

.footer {
    margin-top: 20px;
}

