#notifications{
    display: none;
}

.btn {
    margin-top: 0px;
}

#main-header {
    margin-bottom: 100px;
}
// remove id img-circle
// .img-circle {
//     border-radius: 50%;
// }

.footer {
    margin-top: 20px;
}

